<ol class="breadcrumb" *ngIf="dataReceived">
    <li class="breadcrumb-item">Discipline</li>
    <li class="active breadcrumb-item"
        *ngIf="currentDisciplina?.codice">{{currentDisciplina?.disciplina}}</li>
    <li class="active breadcrumb-item" *ngIf="!currentDisciplina">Nuova disciplina</li>
</ol>

<h1 class="page-title" *ngIf="currentDisciplina?.disciplina && dataReceived">
    {{currentDisciplina?.disciplina}}
</h1>

<section class="widget" [formGroup]="form" *ngIf="form && dataReceived">
    <div class="row">
        <div class="col-6 form-group">
            <h4>Codice</h4>
            <input formControlName="codice"
                   placeholder="Inserisci il codice"
                   [readonly]="!!currentDisciplina"
                   class="form-control input-transparent">
        </div>
        <div class="col-6 form-group">
            <h4>Professione</h4>
            <input formControlName="professione"
                   placeholder="Inserisci il codice della professione"
                   class="form-control input-transparent">
        </div>
        <div class="col-6 form-group">
            <h4>Disciplina</h4>
            <input formControlName="disciplina"
                   placeholder="Inserisci il nome della disciplina"
                   class="form-control input-transparent">
        </div>
    </div>
</section>

<section class="widget bottom-widget" *ngIf="dataReceived">
    <div class="pull-right">
        <button class="btn btn-outline-primary width-100"
                role="button"
                (click)="utilsService.goBack()">
            Indietro
        </button>
        <button class="btn btn-success width-100 ml-6"
                role="button"
                [disabled]="form?.invalid"
                (click)="save()">
            Salva
        </button>
    </div>
</section>
